<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History - Brothers in Arms</title>
    <link
      rel="shortcut icon"
      href="images/brothers-in-arms-icon.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="css/main.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer type="module" src="js/history.js"></script>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="header-index-history">
        <header class="header">
          <nav class="container navbar">
            <div class="container-nav flex">
              <a class="navbar-logo" href="index.html"
                ><img src="images/brothers-in-arms-logo.svg" alt="logo"
              /></a>
              <button class="navbar-toggler" id="openNavBtn" type="button">
                <span class="fa-solid fa-bars"></span>
              </button>
              <ul class="navbar-nav flex">
                <li><a class="nav-link" href="index.html">Home</a></li>
                <li>
                  <a class="nav-link" href="index.html#about">About Us</a>
                </li>
                <li>
                  <a class="nav-link active" href="history.html">History</a>
                </li>
                <li>
                  <a class="nav-link" href="#" id="toggleRightSideBtn"
                    >Donate</a
                  >
                </li>
                <li>
                  <a class="nav-link" href="contactform.html">Contact Us</a>
                </li>
                <li class="dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarScrollingDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    More
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarScrollingDropdown"
                  >
                    <li>
                      <a class="dropdown-item" href="soldiers-letter.html"
                        >Soldiers Letters</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="memorial.html">Memorial</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="index.html#event">Event</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="index.html#blog">Blog</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="flex nav-right">
              <i id="openSearchBarBtn" class="fa-solid fa-magnifying-glass"></i>
              <!-- <i
                id="toggleRightSideBtn"
                class="fa-solid fa-hand-holding-dollar"
              ></i> -->
            </div>
          </nav>
          <aside id="mySidepanel" class="sidepanel">
            <div class="sidebar flex">
              <a href="index.html"
                ><img src="images/brothers-in-arms-logo.svg" alt="logo"
              /></a>
              <button class="closebtn btn_hover1" id="closeNavBtn">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div>
              <ul>
                <li><a class="nav-link" href="index.html">Home</a></li>
                <li>
                  <a class="nav-link" href="index.html#about">About Us</a>
                </li>
                <li><a class="nav-link" href="history.html">History</a></li>
                <li><a class="nav-link" href="index.html#donate">Donate</a></li>
                <li>
                  <a class="nav-link" href="contactform.html">Contact Us</a>
                </li>
                <li class="pages"><a href="#">More</a></li>
                <li class="collapse_btn">
                  <a
                    class="nav-link plus_collapse"
                    href="javascript:void(0);"
                    aria-expanded="false"
                    aria-controls="pages"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </a>
                  <div class="collapse" id="pages">
                    <ul>
                      <li>
                        <a class="nav-link" href="soldiers-letter.html"
                          >Soldiers Letters</a
                        >
                      </li>
                      <li>
                        <a class="nav-link" href="memorial.html">Memorial</a>
                      </li>
                      <li>
                        <a class="nav-link" href="index.html#event">Event</a>
                      </li>
                      <li>
                        <a class="nav-link" href="index.html#blog">Blog</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </aside>
          <div id="app">
            <div id="search-bar" :style="searchBarStyle">
              <div
                class="btn_hover1"
                id="closeSearchBarBtn"
                @click="toggleSearchBar(false)"
              >
                <i class="fa-solid fa-xmark"></i>
              </div>
              <form @submit.prevent="search">
                <input
                  type="search"
                  v-model="query"
                  required
                  :placeholder="errorMessage || 'Search...'"
                />
                <button type="submit" class="btn_hover1">Search</button>
              </form>
            </div>
          </div>

          <!-- Right Sidebar -->
          <section class="header-right-sidebar" id="right_side">
            <div class="flex flex-sb">
              <a href="index.html"
                ><img src="images/brothers-in-arms-logo.svg" alt="logo"
              /></a>
              <button class="close_right_sidebar fa-solid fa-xmark"></button>
            </div>
            <p>
              Brothers in Arms is committed to helping veterans rebuild their
              lives through mental health support, financial aid, and community
              programs. Your donation ensures no hero is left behind. Stand with
              us today.
            </p>
            <a href="#" class="btn_hover1">Donate</a>
            <hr />
            <h4>Contact details:</h4>
            <ul class="flex">
              <li>
                <a href="#"> <i class="fa-solid fa-phone"></i></a>
                <a href="#" class="text-lowercase">+123-456-7890</a>
              </li>
              <li>
                <a href="#"> <i class="fa-sharp fa-regular fa-clock"></i></a>
                <a href="#">8AM - 11PM Sunday - Weekend Day</a>
              </li>
            </ul>
            <span class="flex">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </span>
          </section>
        </header>
        <section class="hero history-hero">
          <div class="container" data-aos="zoom-in">
            <div>
              <div class="center-data-history">
                <h2 class="history-h2">Brothers in Arms History</h2>
                <h3 class="history-h3">
                  "Honoring Service, Preserving Brotherhood."
                </h3>
                <div class="center-btn flex">
                  <a href="#vcross" class="btn_hover1">Victoria Cross</a>
                  <a href="#awards" class="btn_hover2">Gallery</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="history" id="history">
        <div class="container">
          <div class="history-data flex-sb">
            <div class="w-100 history-desc" data-aos="fade-up">
              <div class="flex history-title">
                <hr />
                <h5>HISTORY</h5>
              </div>
              <h2>The History of Brothers in Arms</h2>
              <p>
                For generations, soldiers have stood side by side, bound not
                just by duty but by an unbreakable bond—one forged in courage,
                sacrifice, and unwavering loyalty. Brothers in Arms was founded
                to honor this deep connection and support those who have
                dedicated their lives to serving their country. <br /><br />

                Our journey began with a simple yet powerful mission: to provide
                aid, recognition, and a sense of belonging to veterans and
                active service members. Over the years, we have worked to ensure
                that their sacrifices are never forgotten, sharing their
                stories, offering resources, and building a community where they
                are always supported.<br /><br />

                From battlefield letters filled with hope and longing to the
                enduring friendships that transcend war, the spirit of
                brotherhood has remained a guiding force. Brothers in Arms
                continues to stand as a pillar of strength, reminding the world
                that no soldier fights alone—both on and off the battlefield.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="vcross" id="vcross">
        <div class="container">
          <div class="vcross-data flex-sb">
            <div class="w-50 vcross-desc" data-aos="fade-up">
              <div class="flex vcross-title">
                <hr />
                <h5>VICTORIA CROSS</h5>
              </div>
              <h2>Victoria Cross Recipients</h2>
              <p>
                These 81 members of the Canadian Armed Forces were awarded the
                Victoria Cross through acts of valour. They were among 1,351
                crosses and 3 bars awarded throughout the British Empire. The 81
                include: <br /><br />

                4 from the South African (Boer) War 1899-1902 <br />
                64 from the First World War, 1914-1918<br />
                13 from the Second World War, 1939-1945<br />
              </p>
              <div class="flex gap-2 mt-30">
                <a href="#awards" class="btn_hover1">Gallery</a>
                <a
                  href="https://www.canada.ca/en/department-national-defence/services/medals/victoria-cross-recipients.html"
                  class="btn_hover2ac"
                  >Read More Details</a
                >
              </div>
            </div>
            <div class="vcross-imgs flex flex-center w-50" data-aos="fade-down">
              <div>
                <figure>
                  <img src="images/brothers-in-arms-award.png" alt="img" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="awards" id="awards">
        <div class="slider">
          <!-- list Items -->
          <div class="list">
            <div class="item active">
              <img src="images/img1.png" />
              <div class="content">
                <p>Victoria Cross</p>
                <h2>
                  Hampden Zane Churchill
                  <span class="vcross-span">Cockburn</span>
                </h2>
                <p class="soldiers-p">
                  This medal is awarded for the most conspicuous bravery, a
                  daring or pre-eminent act of valour, or self-sacrifice or
                  extreme devotion to duty in the presence of the enemy.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="images/img2.jpg" />
              <div class="content">
                <p>Victoria Cross</p>
                <h2>
                  Edward James Gibson <span class="vcross-span">Holland</span>
                </h2>
                <p class="soldiers-p">
                  This medal is awarded for the most conspicuous bravery, a
                  daring or pre-eminent act of valour, or self-sacrifice or
                  extreme devotion to duty in the presence of the enemy.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="images/img3.jpg" />
              <div class="content">
                <p>Victoria Cross</p>
                <h2>
                  Arthur Herbert Lindsay
                  <span class="vcross-span">Richardson</span>
                </h2>
                <p class="soldiers-p">
                  This medal is awarded for the most conspicuous bravery, a
                  daring or pre-eminent act of valour, or self-sacrifice or
                  extreme devotion to duty in the presence of the enemy.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="images/img4.jpg" />
              <div class="content">
                <p>Victoria Cross</p>
                <h2>
                  Richard Ernest William <span class="vcross-span">Turner</span>
                </h2>
                <p class="soldiers-p">
                  This medal is awarded for the most conspicuous bravery, a
                  daring or pre-eminent act of valour, or self-sacrifice or
                  extreme devotion to duty in the presence of the enemy.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="images/img5.jpg" />
              <div class="content">
                <p>Victoria Cross</p>
                <h2>Wallace Lloyd <span class="vcross-span">Algie</span></h2>
                <p soldiers-p>
                  This medal is awarded for the most conspicuous bravery, a
                  daring or pre-eminent act of valour, or self-sacrifice or
                  extreme devotion to duty in the presence of the enemy.
                </p>
              </div>
            </div>
          </div>
          <!-- button arrows -->
          <div class="arrows">
            <button class="arrowbtn" id="prev">&lt;</button>
            <button class="arrowbtn" id="next">&gt;</button>
          </div>
          <!-- thumbnail -->
          <div class="thumbnail">
            <div class="item active">
              <img src="images/cockburn.png" />
              <div class="content">Cockburn</div>
            </div>
            <div class="item">
              <img src="images/holland.png" />
              <div class="content">Holland</div>
            </div>
            <div class="item">
              <img src="images/richardson.png" />
              <div class="content">Richardson</div>
            </div>
            <div class="item">
              <img src="images/turner.png" />
              <div class="content">Turner</div>
            </div>
            <div class="item">
              <img src="images/wallace.png" />
              <div class="content">Wallace</div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-gal" id="gallery">
        <div class="gal-title-wrapper">
          <h2 class="gal-title">A Glimpse Through Time</h2>
        </div>
        <div id="app_gallery">
          <ul>
            <li class="list" @click="filterGallery('all')">All</li>
            <li class="list" @click="filterGallery('ww1')">WW1</li>
            <li class="list" @click="filterGallery('ww2')">WW2</li>
            <li class="list" @click="filterGallery('date1')">Date1</li>
            <li class="list" @click="filterGallery('date2')">Date2</li>
            <li class="list" @click="filterGallery('date3')">Date3</li>
          </ul>

          <div class="product">
            <div v-if="loadinggallery">
              <img
                src="images/loader.svg"
                alt="loading indicator"
                class="loader"
              />
            </div>

            <div
              class="itemBox"
              v-for="(item, index) in filteredData"
              :key="index"
              :data-item="item.type"
              @click="openPopup(item)"
            >
              <img :src="'images/' + item.fname" :alt="item.fname_alt" />
            </div>
          </div>
          <div
            class="popup"
            :class="{ showPopup: showPopup }"
            @click.self="closePopup"
          >
            <span class="close-btn" @click.stop="closePopup">X</span>
            <img
              :src="'images/' + selectedItem.fname"
              :alt="selectedItem.fname_alt"
            />
            <p>{{ selectedItem.description || 'No description available.' }}</p>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-menu">
          <div class="container">
            <div class="flex flex-start footer-center">
              <div class="w-33 flex flex-col gap-2 flex-start">
                <a href="index.html"
                  ><img
                    src="images/brothers-in-arms-logo.svg"
                    alt="footer-logo"
                /></a>
                <p>
                  Brothers in Arms is committed to helping veterans rebuild
                  their lives through mental health support, financial aid, and
                  community programs. Your donation ensures no hero is left
                  behind. Stand with us today.
                </p>
                <span class="flex gap-2">
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </span>
              </div>
              <div class="w-16 mt-1">
                <h4>Quick Links</h4>
                <ul class="flex flex-col gap-2 flex-start">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="index.html#about">About Us</a></li>
                  <li><a href="index.html#donate">Donation</a></li>
                  <li><a href="blogs.html">Blogs</a></li>
                </ul>
              </div>
              <div class="w-16 mt-45 flex-end">
                <ul class="flex flex-col gap-2 flex-start">
                  <li><a href="history.html">History</a></li>
                  <li><a href="index.html#contactform.html">Contact Us</a></li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </div>
              <div class="w-33 mt-1 flex flex-col flex-start">
                <h4>Keep in Touch</h4>
                <ul class="flex flex-col gap-2 flex-start">
                  <li>
                    <a href="#"> <i class="fa-solid fa-phone"></i></a>
                    <a href="#" class="text-lowercase">+123-456-7890</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-sharp fa-regular fa-clock"></i
                    ></a>
                    <a href="#">8AM - 11PM Sunday - Weekend Day</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <h6>
              Copyright © 2025 By
              <a href="index.html" class="p-0"> The Brother's in Arms. </a>
              All Rights Reserved.
            </h6>
          </div>
        </div>
      </footer>
    </div>

    <!--========== SCROLL UP ==========-->

    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>
  </body>
</html>
