@use "../abstracts/variables" as a;

.blog h5 {
  color: #221f1d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog h2 {
  color: #221f1d;
}

.blog .blog-hr1 {
  opacity: 1.25;
  height: 1px;
  color: #221f1d;
  width: 60px;
  border: 1px solid;
}

.blog .btn_hover2 {
  color: #221f1d;
  padding: 15px 30px;
  border: 1.5px solid #221f1d;
}

.blog .row a {
  border: 1.5px solid #221f1d;
}

.blog-card {
  flex: 0 0 33.33%;
  overflow: hidden;
  padding-bottom: 20px;
}

.blog-card img {
  width: 100%;
  transition: all 0.4s ease;
}

.blog-card:hover img {
  transform: scale(1.05);
  opacity: 0.8;
  transition: all 0.4s ease;
}

.blog-card h4 {
  color: #221f1d;
  margin: 18px 0;
  padding: 0 30px 0 0;
}

.blog-card a {
  padding: 0 0 11px 0 !important;
  border-bottom: 2px solid #221f1d;
  letter-spacing: 2px;
  background: #221f1d;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blogs-data {
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.blogs hr {
  opacity: 1.25;
  height: 1px;
  color: #221f1d;
  width: 60px;
  border: 1px solid;
}

.blogs-title {
  gap: 1rem;
}

.blogs-data h2 {
  margin: 20px 0;
  color: #221f1d;
}

.blogs h5 {
  color: #221f1d;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}

.blogs p {
  color: #221f1d;
  font-size: 20px;
}

.blogs-react i {
  cursor: pointer;
  padding: 3px;
  font-size: 25px;
  background: linear-gradient(66.75deg, #5f5f5f 0.87%, #969594 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt-15 {
  margin-top: 1.5rem !important;
}

.mt-30 {
  margin-top: 3rem !important;
}

.blogs-imgs figure:hover {
  transform: scale(1.05);
  transition: all 0.8s ease;
}

.blogs-imgs img {
  width: 85%;
  display: block;
  margin: auto;
  // clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
}

.ab-count h2 {
  margin: 0;
  color: #ffffff;
}

.blogs-hr {
  color: #221f1d;
  position: absolute;
  right: -50px;
  bottom: 25px;
  rotate: -90deg;
}

.blogs-hr hr {
  opacity: 1.25;
  height: 1px;
  color: #221f1d;
  width: 60px;
  border: 1px solid;
}

.blogs-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
}
