@use "../abstracts/variables" as a;

.hero {
  // background-image: url("../images/hero-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 172px 0 279px 0;
}
.hero-social-icon {
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column !important;
  justify-content: flex-start !important;
}
.hero-social-icon hr {
  display: block;
  margin-top: 68px;
  opacity: 1;
  color: #ffffff;
  width: 110px;
  rotate: 90deg;
}

.header-card {
  margin-top: -95px;
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  height: 450px;
  padding: 0 15px;
  box-sizing: border-box;
}

.header-card div {
  border-radius: 20px;
  background: #e6d9c8;
  color: #221f1d;
  padding: 40px 30px;
  border: solid 2px #bb513b;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
}

.header-card h4 {
  font-size: 1.1rem;
  margin-bottom: 12px;
  line-height: 1.3;
  // word-break: break-word;
}

.header-card p {
  font-size: 18px;
  line-height: 1.4;
  word-break: break-word;
  overflow-y: auto;
  flex-grow: 1;
}

.header-card p::-webkit-scrollbar {
  width: 4px;
}

.header-card p::-webkit-scrollbar-thumb {
  background-color: #bb513b;
  border-radius: 4px;
}

.feature .flex {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}
// .header-card {
//   margin-top: -145px;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   width: 25%;
//   padding: 1rem;
//   background: white;
//   border-radius: 10px;
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
//   height: 300px;
//   overflow: hidden;
// }

// .header-card figure {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   justify-content: center;
// }

// .feature-img1 {
//   width: 40px;
//   height: 40px;
//   object-fit: contain;
// }

// .header-card h4 {
//   margin: 1rem 0 0.5rem;
//   font-size: 1.1rem;
//   font-weight: 600;
// }

// .header-card p {
//   font-size: 0.95rem;
//   line-height: 1.4;
//   color: #444;
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 4;
//   line-clamp: 4;
//   -webkit-box-orient: vertical;
//   text-overflow: ellipsis;
// }

.ourpartners {
  background-color: #1e1c1d;
  padding: 150px 0;
  margin-top: -1px;
}
.ourpartners-slider {
  margin-top: 56px;
}
.ourpartners .hr1 {
  opacity: 1;
  height: 2px;
  rotate: 90deg;
  width: 60px;
  margin: 0 auto 50px auto;
  background: rgba(255, 255, 255, 0.75);
}
.ourpartners .hr2 {
  opacity: 1;
  height: 2px;
  rotate: 90deg;
  width: 60px;
  margin: 70px auto 0 auto;
  background: rgba(255, 255, 255, 0.75);
}
.ourpartners img {
  width: 170px;
  margin: 0 auto;
}
.about {
  background: #e6d9c8;
  padding: 100px 0;
}
.blogs {
  background: #f3ebe0;
  padding: 100px 0;
}
.history {
  background: #1e1c1d;
  padding: 100px 0;
}
.vcross {
  background: #e6d9c8;
  padding: 100px 0;
}
.w-50 {
  flex: 0 0 auto;
  width: 50%;
}
.w-100 {
  flex: 0 0 auto;
  width: 100%;
}
.about-data a {
  padding: 16px 38px 16px 38px !important;
}
.blogs-data a {
  padding: 16px 38px 16px 38px !important;
}
.history-data a {
  padding: 16px 38px 16px 38px !important;
}
.vcross-data a {
  padding: 16px 38px 16px 38px !important;
}
.ab-count {
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  position: absolute;
  bottom: -18px;
  left: 118px;
  z-index: 11;
  border-radius: 50%;
  width: 175px;
  height: 175px;
}
.donation {
  //   background-image: url("../images/work-bg.jpg");
  background: #1e1c1d;
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}
.donation-para {
  color: #ffffff;
  padding: 0 290px;
}
.letter-para {
  color: #ffffff;
  padding: 0 250;
}
.donation-line {
  background-image: url("../images/work-line.png");
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}
.donation-line div {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(11deg, #e22e2b 0.01%, #ffba39 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 18px 0 32px 34px;
}

.donation-line div:first-child {
  top: -66px;
  left: -30px;
  width: 196px;
  min-height: 196px;
}

.donation-line div:nth-child(2) {
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}

.donation-line div:nth-child(3) {
  right: 260px;
  top: -66px;
  width: 196px;
  min-height: 196px;
}

.donation-line div:last-child {
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}
.blog {
  background: #e6d9c8;
  padding: 120px 0;
}
.blog p {
  color: #221f1d;
  // padding: 0 296px 0 0;
  font-size: 20px;
}
.w-33 {
  width: 33.33333333%;
}
.footer-hr p {
  color: #221f1d;
  padding: 0 300px;
  margin: 20px 0 30px 0;
  font-size: 20px;
}
.footer-menu p {
  padding: 0 78px 0 0;
}
.navbar-toggler {
  border: 1px solid #221f1d;
  background: inherit;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
  transform: translateY(-10px);
}
.letter .text-center p {
  color: #ffffff;
  // padding: 0 123px 0 0;
  text-align: center;
  font-size: 20px;
}
.letter .text-center h2 {
  color: #ffffff;
  padding: 0 55px 0 0;
  text-align: center;
}
.hero {
  // padding-top: 50px;
  transform: translateY(104px);
}
.slider {
  height: 107vh;
  margin-top: -50px;
  position: relative;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.wrapper-contact {
  display: flex;
  gap: 40px;
  align-items: center;
  max-width: 500px;
  width: 100%;
  justify-content: center; /* Ensures child elements are centered */
}
.nav-link {
  font-size: 17px;
  font-weight: 400;
  color: #221f1d;
}
.slider .list .item .content p {
  font-size: 18px;
  padding-top: 13px;
}
.popup img {
  max-width: 90%;
  width: 50%;
  max-height: 80vh;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.popup p {
  color: white;
  margin-top: 20px;
  font-size: 1rem;
  width: 50%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-align-last: left;
  line-height: 1.6;
}

.popup .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

.gal-title {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  word-break: break-word; /* helps prevent overflow on long words */
}

.gal-title::after {
  content: "";
  display: block;
  width: 167px;
  height: 6px;
  margin: 16px auto 0;
  background: linear-gradient(to right, orangered, yellow);
  border-radius: 3px;
}

.btn_hover2ab {
  font-size: 18px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #221f1d;
  color: #221f1d;
  z-index: 1;
  letter-spacing: 0.8px;
  padding: 0.75rem 2rem;
  white-space: nowrap;
  text-align: center;
  max-width: 100%;
  text-overflow: ellipsis;
}

.btn_hover2ab::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease-in;
  background: #ffba39;
  z-index: -1;
  top: 0;
  left: 0;
}

.btn_hover2ab:hover::before {
  width: 100%;
  border-radius: 50px;
  background: #ffba39;
}

.btn_hover2ac {
  font-size: 18px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #221f1d;
  color: #221f1d;
  z-index: 1;
  letter-spacing: 0.8px;
  padding: 0.75rem 2rem;
  white-space: nowrap;
  text-align: center;
  max-width: 100%;
  text-overflow: ellipsis;
}

.btn_hover2ac::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease-in;
  background: #ffba39;
  z-index: -1;
  top: 0;
  left: 0;
}

.btn_hover2ac:hover::before {
  width: 100%;
  border-radius: 50px;
  background: #ffba39;
}

.btn_hover1 {
  font-size: 18px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #fff;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
  background: #ffba39;
  cursor: pointer;
  padding: 0.75rem 2rem;
  white-space: nowrap;
  text-align: center;
  max-width: 100%;
  text-overflow: ellipsis;
}

.btn_hover1::before {
  border-radius: 50px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
  background: orangered;
  z-index: -1;
  top: 0;
  right: 0;
}

.btn_hover1:hover::before {
  width: 0;
  background: linear-gradient(42deg, #ffba39 0.01%, orangered 100%);
  color: #221f1d;
}

.support1 h4,
.support2 h4,
.support3 h4,
.support4 h4 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .image-container {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .ourpartners-slider figure {
    padding: 30px 18px;
  }

  .team-img {
    min-width: 277px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .team-img {
    min-width: 232px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 925px;
  }

  .feature .flex {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .header-card {
    width: 50%;
  }

  .header-card:nth-child(3),
  .header-card:nth-child(4) {
    margin: 0;
  }

  .feature h4 {
    width: 100%;
    margin: 19px 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 757px;
  }

  .hero-social-icon {
    position: relative;
    flex-direction: row !important;
    justify-content: center !important;
  }

  .hero-social-icon hr {
    display: none;
  }
  .team-img {
    min-width: 232px;
    object-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  /* global style */
  h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 66px;
  }

  h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 48px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 14px 30px 14px 30px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 14px 30px 14px 30px !important;
  }

  .h2_margin {
    margin: 13px 0;
  }

  .container {
    max-width: 757px;
  }

  /* ====== index.html ====== */
  .hero {
    padding: 110px 0 279px 0;
  }

  .ab-feature {
    padding: 10px 0 60px 0;
  }

  .ourpartners {
    padding: 100px 0;
  }

  .ourpartners .hr1 {
    width: 80px;
    margin: 0 auto 33px auto;
  }

  .ourpartners .hr2 {
    width: 80px;
    margin: 33px auto 0 auto;
  }

  .ourpartners-slider {
    margin-top: 12px;
  }

  .ourpartners img {
    width: 150px;
  }

  .about {
    padding: 70px 0;
  }
  .history {
    padding: 70px 0;
  }
  .vcross {
    padding: 70px 0;
  }
  .blogs {
    padding: 70px 0;
  }

  .ab-count {
    width: 155px;
    height: 155px;
  }

  .ab-count h5 {
    width: 110px;
  }

  .history-1 {
    padding: 70px 0 70px 0;
  }

  .gallary {
    padding-bottom: 70px;
  }

  .tab button {
    padding: 11px 19px;
  }

  .gallary img {
    height: 300px;
  }

  .gallary img[alt="sm_img"] {
    height: 150px;
  }

  .gallary .container {
    margin-top: -355px;
  }

  .gallary .mt {
    margin-top: -258px;
  }

  .service-1 {
    padding: 70px 0;
  }

  .service-1 .flex-column {
    flex-wrap: wrap;
  }

  .service-card {
    width: 48%;
  }

  .service-1 .s-card {
    flex-wrap: wrap;
  }

  .service-card img[alt="slider1"] {
    width: 85px;
  }

  .service-card img[alt="slider2"] {
    width: 62px;
  }

  .service-card img[alt="slider3"] {
    width: 52px;
  }

  .experience {
    padding: 70px 0;
  }

  .ex-card .flex {
    padding: 26px 2px;
  }

  .ex-card p {
    margin-top: 5px;
  }

  .donation-line div {
    padding: 33px 8px 32px 29px;
  }

  .donation {
    padding: 70px 0;
  }

  .donation-para {
    padding: 0 95px;
  }
  .letter-para {
    padding: 0 95px;
  }
  .letter .text-center p {
    padding: 0;
  }
  .letter .text-center h2 {
    padding: 0;
  }

  .donation-line div:first-child {
    width: 185px;
    min-height: 185px;
  }

  .donation-line div:nth-child(2) {
    width: 170px;
    min-height: 170px;
  }

  .donation-line div:nth-child(3) {
    width: 185px;
    min-height: 185px;
  }

  .donation-line div:last-child {
    width: 170px;
    min-height: 170px;
  }

  .testimonial {
    padding: 120px 0 70px 0;
  }

  .team {
    padding: 70px 0 0 0;
  }

  #team {
    padding: 70px 0 70px 0;
  }

  .overlay_text i {
    font-size: 18px;
  }

  .team-btn {
    margin-top: 70px;
  }

  .team h2 {
    padding: 0 0 0 0;
  }

  .team p {
    padding: 0 0 0 0;
  }

  .pricing {
    padding: 70px 0;
  }

  #pricing {
    padding: 70px 0;
  }

  .pricing-hr {
    display: none !important;
  }

  .faq {
    padding: 70px 0;
  }

  #faq {
    padding: 70px 0;
  }

  .faq .text-center h2 {
    padding: 0 10px 0 0;
  }

  .faq .text-center p {
    padding: 0 10px 0 0;
  }

  .blog {
    padding: 70px 0;
  }

  .footer-hr p {
    padding: 0 30px;
  }

  .service-page {
    padding: 70px 0 50px 0;
  }

  /* ====== contact.html ====== */
  .contact form {
    padding: 40px 45px;
  }

  .contact-address hr {
    display: none;
  }

  .flex-sb {
    flex-wrap: wrap;
  }

  .w-50 {
    width: 100%;
  }

  .about-imgs {
    margin-top: 50px;
  }
  .blogs-imgs {
    margin-top: 50px;
  }
  .vcross-imgs {
    margin-top: 50px;
  }

  #footer-form {
    overflow: hidden;
    width: 100%;
    justify-content: center;
  }

  #footer-form input {
    width: 100%;
    padding: 30px;
  }

  #footer-form button {
    width: 100%;
  }
  .blog p {
    padding: 0;
  }
  .header-card {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 630px) {
  .header-card {
    width: 100%;
    margin: 0;
  }
  .donation-hr {
    display: none;
  }
  .letter .text-center p {
    padding: 0;
  }
  .letter .text-center h2 {
    padding: 0;
  }
  .gallary .w-33,
  .gallary .w-66 {
    width: 100%;
  }
  .slider {
    height: 120vh;
    margin-top: 2px;
  }
  .thumbnail {
    bottom: 15px;
    padding: 0 5px;
  }
  .wrapper-contact {
    max-width: 500px;
    width: 84%;
  }
  .nav-link {
    font-size: 15px;
  }
  .slider .list .item .content p {
    padding-top: 40px;
  }
  .popup p {
    width: 100%;
  }
  .portfo-center {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .portfo-center .gap-1,
  .service-data .gap-1,
  .exp-center .gap-1,
  .blog-center .gap-1,
  .team-center .gap-1 {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }

  .portfo-center .w-50,
  .portfo-center .w-100,
  .service-data .w-66,
  .service-data .w-33,
  .exp-center .w-66,
  .exp-center .w-33,
  .blog-center .w-33,
  .blog-center .w-66,
  .team-center .w-66,
  .team-center .w-33 {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .team-center {
    flex-wrap: wrap;
  }
  .blog-center {
    flex-wrap: wrap;
  }

  .blog-cards {
    flex-wrap: wrap;
  }

  .blog-card {
    flex: none !important;
    width: 100%;
  }

  .portfo-center .w-100 {
    margin-top: 1rem;
  }

  .history-1 p {
    padding: 0;
  }

  .service-card {
    width: 100%;
  }

  .donation-para {
    padding: 0 10px;
  }
  .letter-para {
    padding: 0 10px;
  }
  .letter .text-center p {
    padding: 0;
  }

  .donation-line {
    background-image: none;
  }

  .donation-line div {
    position: relative;
    padding: 0;
    text-align: center;
  }

  .donation-line h4 {
    padding: 0 17px;
  }

  .donation-line div:first-child {
    top: 20px;
    left: 0;
  }

  .donation-line div:nth-child(2) {
    top: 20px;
    left: 20px;
  }

  .donation-line div:nth-child(3) {
    left: 0;
    top: 20px;
  }

  .donation-line div:last-child {
    top: 20px;
    left: 0;
  }

  .donation-line {
    margin: 25px 25px 53px 25px;
  }

  .donation-line div {
    width: 170px !important;
    min-height: 170px !important;
  }

  .pricing-card {
    flex-wrap: wrap;
  }

  .pricing p {
    padding: 0 10px;
  }

  .pricing-card div:nth-child(2) {
    transform: scale(1);
  }

  .pricing-card {
    align-items: center;
  }

  .blog p {
    padding: 0;
  }

  .footer-menu .flex-start {
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
  }
  .footer-center .w-33,
  .footer-center .w-16,
  .footer-center .w-16,
  .footer-center .w-33 {
    width: 100% !important;
    max-width: 100% !important;
  }
  .footer-menu p {
    text-align: center;
    padding: 0;
  }
  .footer-menu a {
    text-align: center;
  }
  .footer-menu h4 {
    text-align: center;
  }

  .team-img {
    width: 100px;
  }

  #search-bar form {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .gal-title {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1.2rem;
  }

  .gal-title::after {
    width: 135px;
    height: 4px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  /* global style */
  .donation-hr {
    display: none;
  }
  .letter .text-center p {
    padding: 0;
  }
  .letter .text-center h2 {
    padding: 0;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px !important;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 44px 0 82px 0;
    transform: translateY(52px);
  }
  .donation-hr {
    display: none;
  }
  .letter .text-center p {
    padding: 0;
  }
  .letter .text-center h2 {
    padding: 0;
  }
  /* global style */
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px !important;
  }
  .popup .close-btn {
    font-size: 1.5rem;
    top: 10px;
    right: 10px;
  }
  .popup img,
  .popup p {
    width: 90%;
  }
  .btn_hover1 {
    font-size: 16px;
    padding: 0.6rem 1.2rem;
  }
  .btn_hover2ab {
    font-size: 16px;
    padding: 0.6rem 1.2rem;
  }
  .btn_hover2ac {
    font-size: 16px;
    padding: 0.6rem 1.2rem;
  }
}
