@use "../abstracts/variables" as a;

.donation h5 {
  letter-spacing: 1px;
}
.donation p {
  padding-top: 20px;
  font-size: 20px;
}

.donation a {
  border: 1.5px solid #fff;
  color: #fff;
}

.donation-hr {
  color: #ffffff;
  position: absolute;
  right: 0;
  rotate: -90deg;
}

.donation-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

.donation-hr hr {
  opacity: 1.25;
  height: 1px;
  color: #ffffffbf;
  width: 60px;
  border: 1px solid;
}

.donation .btn_hover2 {
  padding: 15px 30px;
}
