@use "../abstracts/variables" as a;

.w-66 {
  width: 66.66666667%;
}

footer {
  background: #ffffff;
  padding: 120px 0 0 0;
}

.footer-hr .flex {
  rotate: -90deg;
}

.footer-hr h6 {
  color: #221f1d;
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

.footer-hr h3 {
  margin-top: 125px;
  color: #221f1d;
  letter-spacing: 1px;
}

.footer-hr hr {
  opacity: 1.25;
  height: 1px;
  color: #221f1d;
  width: 60px;
  border: 1px solid;
}

footer form {
  border-radius: 50px;
  border: 1px solid #221f1d;
  background: #fff;
  width: 76%;
  margin: auto;
}

footer form input {
  border-radius: 50px;
  background: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #221f1d;
  width: 68%;
}

footer form button {
  transition: all 0.3s ease;
  text-transform: uppercase;
}

footer form button:hover {
  color: #ffffff;
}

// #footer-message {
//   background: #fff;
//   color: green;
//   width: auto;
//   height: auto;
//   display: flex;
//   align-items: flex-start;
//   padding: 10px 10px 10px 10px;
//   font-size: 25px;
//   font-weight: 800;
//   text-align: center;
//   font-family: a.$main-font;
//   position: fixed;
//   top: 20px;
//   right: 20px;
//   z-index: 10;
//   border-radius: 10px;
//   display: none;
//   transition: display all 0.3s ease;
// }

.footer-menu {
  background: #221f1d;
  color: #ffffff;
  padding: 50px 0;
  margin-top: 77px;
}

.footer-menu img {
  width: 100px;
  filter: brightness(0) invert(1);
}

.footer-menu ul li a:hover {
  color: #ffba39;
}

.footer-menu i {
  font-size: 20px;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.footer-menu i:hover {
  background: linear-gradient(0deg, #ffba39 0.5%, #e22e2b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-menu h4 {
  color: #ffba39;
  margin-bottom: 26px;
}

.footer-menu a {
  font-size: 16px;
  color: #ffffff;
  padding: 0 !important;
}

.footer-menu .col-lg-4 li {
  display: flex;
  gap: 20px;
}

.copyright {
  background: #020202;
  color: #ffffff;
  padding: 20px 0;
}

.copyright a {
  font-size: 22px;
  color: #ffffff;
}
.copyright .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
