.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fdfbf8;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-letter {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fdfbf8;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
